/* // app-header.component.scss o global styles.scss */

.app-header {
  font-family: "brother-1816", sans-serif;
  font-weight:100;
  letter-spacing: 0.2px;
  color: #CFFF36;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}
.logo {
  font-size: 3.5em;
  margin: 0;
  letter-spacing: 5px;
  line-height: 1.2;
}
.menu {
  float: right;
  margin-top: 2.5em;
}
.nav-link {
  margin-left: 24px;
  text-decoration: none;
  color: #CFFF36;
  font-family: "brother-1816", sans-serif;
  font-size: 1.2em;
  font-weight: light;
  transition: color 0.2s;
}
.nav-link:hover {
  color: #00ffff;
}
