.app-header {
  font-family: "rl-folklor", sans-serif;
  font-weight: 10;
  background-color: #7ad700;
  color: #ccff00;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
}

.menu {
  float: right;
  margin-top: 2.5em;
}

.nav-link {
  margin-left: 24px;
  text-decoration: none;
  color: #CFFF36;
  font-family: "rl-folklor", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #00ffff; /* color al pasar el mouse */
}

