.about {
  color: #CFFF36;
  font-family: "brother-1816";
  font-weight: 100;
}
.paragraph-about {
  font-family: "brother-1816";
  font-size: 1.2em;
  line-height: 1.6;
  margin: 20px 0;
  color: #00ffff;
}
