.resources {
  font-family: "brother-1816", sans-serif;
  font-weight: 100;
  letter-spacing: 0.2px;
  color: #CFFF36;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.paragraph-resources {
  font-family: "brother-1816", sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 20px 0;
  color: #00ffff;
}

